* {
    font-family: Arial, Roboto, sans-serif;
}

body {
    display: grid;
    line-height: 1.2;
    min-height: 100%;
    font-size: 16px;
}

code {
    /* Style Sources */
    background-color: rgba(238, 238, 238, 1);
    display: block;
    padding-left: 0.2em;
    padding-right: 0.2em;
    white-space: pre-wrap;
    white-space-collapse: preserve;
    /* Preset */
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    box-sizing: border-box;
    font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
    font-size: 16px;
}